@import 'antd/dist/antd.less';
.ant-layout  {
  height: 100vh;
  background: #fff;
  overflow: hidden;
}

body {
  font-family: sans-serif;
}

.flex-grow-0 {
  flex-grow: 0;
  display: flex;
}

.flex-align-items-center {
  align-items: center;
}

.flex-grow-1 {
  flex: 1;
  display: flex;
}

.flex {
  display: flex;
}

.ant-btn {
  align-items: center;
  border: 0px;
  border-radius: 4px;
  display: inline-flex;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  height: 40px;
  font-size: 14px;
  padding: 0px 20px;
  line-height: 20px;
}


