@import 'antd/dist/antd.less';
.ant-layout  {
  min-height: 100vh;
  background: #fff;
  color: #333;
}

body {
  font-family: sans-serif;
}

.ant-card-bordered {
  border-radius: 16px;
  .ant-card-body {
    padding: 16px 16px 0 16px;
  }
}


.page__title_warp {
  height: 40px;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  .title{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bolder;
    flex-grow: 1;
  }
  .create {
    flex-grow: 0;
  }
}


.pay__app-modify {
  width: 100%;
  .step__content {
    width: 70%;
    margin: 0 auto;
    .form__content {
      padding: 40px 100px;
    }
  }
}

textarea.ant-input {
  line-height: 40px;
}


.flex-grow-0 {
  flex-grow: 0;
  display: flex;
}

.flex-align-items-center {
  align-items: center;
}

.flex-grow-1 {
  flex: 1;
  display: flex;
}

.flex {
  display: flex;
}

.ant-btn {
  align-items: center;
  border: 0px;
  border-radius: 4px;
  display: inline-flex;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  height: 40px;
  font-size: 14px;
  padding: 0px 20px;
  line-height: 20px;
}


